<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/css/auth/sign_in.css">
</head>
<body>
    <div class="login-card">
        <h2>Вход</h2>
        <form id="authForm">
            <div class="input-group">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" required>
            </div>
            <div class="input-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" required>
            </div>
            <button type="submit">Войти</button>
        </form>
        <p id="status"></p>
        <a href="/sign_up" >Регистрация</a>
    </div>

    <script src="/static/js/auth/sign_in.js"></script>
</body>